<!DOCTYPE html>
<html>
    <head>
        
<script src='/javascripts/angscript.js'></script>
<script src='/javascripts/angular.min.js.map'></script>
<script src='/javascripts/student.js'></script>
        </head>
<body>

<div>
    {{{body}}}
</div>

</body>
</html>
